@media(max-width:1200px) {
    .header_widget01{
		display: block;
    position: absolute;
    width: 92%;
    margin: 0 auto;
   background: rgb(226 219 203)!important;
    border: none!important;

	}
	
    
    .back {
        display: none;
        position: absolute;
        left: 0;
        padding: 5px;
    }
}